.date {
    border-right-color: #e7e7e7;
    border-right-width: 2px;
    align-content: center;
    text-align: center;
    padding-top: 9%;
    padding-left: 0;
}

.date.red {
    background-color: #DA291C;
}

.date.red * {
    color: white;
}

.person {
    background-image: url("~/icons/runner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
}

.group {
    width: 40px;
    height: 40px;
    background-image: url("~/icons/runners.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

DropDown {
    font-weight: 200;
    padding-left:10px;
}