<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/bildirimler@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="BİLDİRİM GÖNDER" fontWeight="400" letterSpacing=".05"></Label>
    </StackLayout>
    <NavigationButton visibility="collapsed" text android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="15%">
        <StackLayout class="page-orange" height="100%"  marginTop="0" padding="20% 10%">
            <TextField (textChange)="userSearch($event)" height="50" hint="Kişi ara" autocorrect="false" backgroundColor="white" borderRadius="2" paddingTop="5" paddingLeft="10"></TextField>
        </StackLayout>
    </ScrollView>

    <ScrollView dock="top" height="85%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>
    
    <ScrollView dock="top" height="85%" *ngIf="!loading">
        <StackLayout height="100%" width="100%" dock="top" color="black">

            <StackLayout height="100%" padding="10" *ngIf="warningText != ''">
                <label [text]="descriptionText" fontSize="16" textWrap="true" marginTop="20" textAlignment="center"></label>
                <label [text]="warningText" fontSize="16" textWrap="true" marginTop="10" textAlignment="center"></label>
            </StackLayout>

            <GridLayout height="83%">
                <RadListView #userList [items]="userItems" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" selectionBehavior="Press" multipleSelection="true" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
                    <ng-template tkListItemTemplate let-item="item">
                        <StackLayout class="item" orientation="vertical" borderBottomWidth="1" borderBottomColor="#e7e7e7" paddingTop="5" paddingBottom="5">
                            <GridLayout rows="*,*" columns="40, 80, *">
                                
                                <StackLayout col="0"></StackLayout>

                                <StackLayout col="1">
                                    <Image [src]="item.passphoto" width="60" height="60" borderRadius="75" borderColor="gray" borderWidth="2"></Image>
                                </StackLayout>

                                <StackLayout col="2" paddingTop="10">
                                    <Label [text]="item.firstname + ' ' + item.lastname" fontWeight="400" fontSize="16"></Label>
                                    <Label [text]="item.district_name + ', ' + item.city_name" fontWeight="300" fontSize="12"></Label>
                                </StackLayout>

                            </GridLayout>
                        </StackLayout>
                    </ng-template>
                </RadListView>
            </GridLayout>

            <StackLayout height="17%" width="100%" padding="10%">
                <Button text="BİLDİRİM GÖNDER" (tap)="usersGet()" backgroundColor="black" height="100%" color="white" fontWeight="400" fontSize="15"></Button>
            </StackLayout>

        </StackLayout>
    </ScrollView>

</DockLayout>