<ActionBar [title]="trail.track_name" backgroundColor="orange">
    <NavigationButton visibility="collapsed" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="goTrailList()" ios.systemIcon="8" ios.position="left" android.systemIcon="ic_menu_back" android.position="actionBar"></ActionItem>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <StackLayout width="100%">

            <GridLayout columns="*, *" rows="*" margin="3 10 15 10">
                <Button text="Düzenle" [nsRouterLink]="['../../admin-trail-save', trail.id]" col="0" row="0" class="btn btn-orange" color="white" width="100%" height="50"></Button>
                <Button text="Sil" (tap)="deleteTrail(trail.id)" col="1" row="0" class="btn btn-red" color="white" width="100%" height="50"></Button>
            </GridLayout>

            <StackLayout padding="5 15">
                <Label [text]="'Parkur Adı: ' + trail.track_name" textWrap="true"></Label>
                <Label [text]="'Yarış Pisti: ' + trail.racecourse" textWrap="true"></Label>
                <Label [text]="'Açık Adres: ' + trail.open_address" textWrap="true"></Label>
            </StackLayout>

            <StackLayout padding="10 15">
                <Label text="-Başlangıç noktası için tıklayınız" (tap)="openMapURL(trail.start_latitude, trail.start_longitude)" color="#1E4294" textWrap="true"></Label>
            </StackLayout>

            <StackLayout padding="10 15">
                <Label text="-Bitiş noktası için tıklayınız" (tap)="openMapURL(trail.end_latitude, trail.end_longitude)" color="#1E4294" textWrap="true"></Label>
            </StackLayout>

        </StackLayout>
    </ScrollView>

</DockLayout>