<ActionBar width="100%" margin="0" padding="0">
    
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left" width="100%">
        <GridLayout rows="*" columns="100,*,70" width="100%" margin="0" padding="0">
            <StackLayout col="0"></StackLayout>
            <FlexboxLayout justifyContent="center" col="1" textAlignment="right" padding="5">
                <Image src="~/icons/profil@3x.png" height="10" marginRight="10"></Image>
                <Label text="PROFİL" fontWeight="400" letterSpacing=".1"></Label>
            </FlexboxLayout>
            <FlexboxLayout col="2" justifyContent="center">
                <Label (tap)="logout()" class="la" [text]="'la-sign-out' | fonticon" textAlignment="center" fontSize="25" marginTop="5" marginLeft="10"></Label>
            </FlexboxLayout>
        </GridLayout>
    </StackLayout>

    <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>

</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">

        <DockLayout stretchLastChild="false">

            <StackLayout class="profileTop" dock="top" height="70%">

                <GridLayout columns="*, 3*" marginBottom="0" paddingLeft="15">
                    <Image col="0" [src]="user.passphoto_url" borderRadius="100" width="90" height="90" marginTop="20" class="avatar"></Image>
                    <StackLayout col="1" paddingTop="40" paddingLeft="10">
                        <GridLayout columns="*, 30">
                            <Label col="0" class="la" [text]="user.firstname + ' ' + user.lastname" fontSize="18" textWrap="true"></Label>
                            <Label col="1" class="la" [text]="'la-edit' | fonticon" [nsRouterLink]="['../profile-edit']" fontSize="25"></Label>
                        </GridLayout>
                        <Label [text]="user.district_name + ', ' + user.city_name" fontSize="13" fontWeight="200" marginTop="5"></Label>
                        <Label text="Admin Profiline Geç" [nsRouterLink]="['/admin-tabs/admin-default']" clearHistory="true" pageTransition="flip" pageTransitionDuration="1000" fontSize="14" fontWeight="500" marginTop="5"></Label>
                    </StackLayout>
                </GridLayout>

                <StackLayout width="100%" padding="15">

                    <Label fontSize="12" text="Firma - Meslek"></Label>
                    <Label [text]="user.organisation + user.title" height="30" fontWeight="bold"></Label>
                    <StackLayout class="hr-red" marginBottom="5"></StackLayout>

                    <Label fontSize="12" text="En Uzun Koşu"></Label>
                    <Label [text]="user.longest_run_km + ' KM'" height="30" fontWeight="bold"></Label>
                    <StackLayout class="hr-red" marginBottom="5"></StackLayout>

                    <Label fontSize="12" text="İlgilendiğim Sporlar"></Label>
                    <Label [text]="user.other_sports_text" height="30" fontWeight="bold"></Label>
                    <StackLayout class="hr-red" marginBottom="5"></StackLayout>

                    <Label fontSize="12" text="Favori Parkurlarım"></Label>
                    <Label [text]="trail.track_name" *ngFor="let trail of user.favorite_trails"  fontWeight="bold"></Label>
                    <!-- <StackLayout class="hr-red" marginBottom="5" /> -->

                    <!-- <Label text="Hakkımda" fontSize="15" height="30" marginTop="5" fontWeight="bold"
                        textAlignment="center"></Label> -->

                </StackLayout>

            </StackLayout>

            <StackLayout width="100%" dock="top">

                <Label text="Madalyalarım" backgroundColor="#efefef" android:paddingTop="15" fontSize="15" height="50" marginTop="0" fontWeight="bold" textAlignment="center"></Label>

                <ScrollView orientation="horizontal" marginTop="10">
                    
                    <StackLayout orientation="horizontal" height="80" width="90%">
                        <Label text="Henüz bir madalyanız bulunmamaktadır" textWrap="true" marginBottom="10" fontSize="15" textAlignment="center" color="#888"></Label>
                    </StackLayout>

                    <!-- <StackLayout orientation="horizontal" height="100" v-else-if="statistic.medals">

                        <GridLayout width="80" v-for="medal in statistic.medals" v-bind:key="medal.id">
                            <Image row="0" rowspan="2" verticalAlignment="top"
                                :src="'https://ipk.adimadim.org/images/badges/madalya_'+ yearConvert(medal.end_date) +'.png'" width="40">
                            </Image>
                            <Label :text="medal.ranking + '. En İyi Koşucu'" textWrap="true" padding="5" fontSize="12"
                                textAlignment="center" marginTop="30" color="#888"></Label>
                        </GridLayout>

                    </StackLayout> -->

                </ScrollView>

            </StackLayout>

            <StackLayout width="100%" dock="top">

                <Label text="Adımlarımın Katkısı" backgroundColor="#efefef" android:paddingTop="15" fontSize="15" height="50" marginTop="0" fontWeight="bold" textAlignment="center"></Label>

                <StackLayout orientation="horizontal" height="80">

                    <GridLayout width="33%">
                        <Label text="0 TL" textWrap="true" padding="10" fontWeight="800" fontSize="14" textAlignment="center" marginTop="0" color="#DA291C"></Label>
                        <Label text="Toplam Bağış" textWrap="true" padding="5" fontSize="12" textAlignment="center" marginTop="30" color="#000"></Label>
                    </GridLayout>

                    <GridLayout width="33%">
                        <Label text="0" textWrap="true" padding="10" fontWeight="800" fontSize="14" textAlignment="center" marginTop="0" color="#DA291C"></Label>
                        <Label text="Toplam Bağışçı" textWrap="true" padding="10" fontSize="12" textAlignment="center" marginTop="30" color="#000"></Label>
                    </GridLayout>

                    <GridLayout width="33%">
                        <Label text="0" textWrap="true" padding="10" fontWeight="800" fontSize="14" textAlignment="center" marginTop="0" color="#DA291C"></Label>
                        <Label text="Toplam Etki" textWrap="true" padding="5" fontSize="12" textAlignment="center" marginTop="30" color="#000"></Label>
                    </GridLayout>

                </StackLayout>

            </StackLayout>

            <StackLayout width="100%" dock="top">

                <Label text="Koşularım" backgroundColor="#efefef"  android:paddingTop="15" fontSize="15" height="50" marginTop="0" fontWeight="bold" textAlignment="center"></Label>

                <StackLayout orientation="horizontal" height="80">

                    <GridLayout width="50%">
                        <Label text="1" textWrap="true" padding="10" fontWeight="800" fontSize="14" textAlignment="center" marginTop="0" color="#DA291C"></Label>
                        <Label text="AA Koşusu Yaptın" textWrap="true" padding="5" fontSize="12" textAlignment="center" marginTop="30" color="#000"></Label>
                    </GridLayout>

                    <GridLayout width="50%">
                        <Label text="00:02:41" textWrap="true" padding="10" fontWeight="800" fontSize="14" textAlignment="center" marginTop="0" color="#DA291C"></Label>
                        <Label text="En İyi Süren" textWrap="true" padding="5" fontSize="12" textAlignment="center" marginTop="30" color="#000"></Label>
                    </GridLayout>

                </StackLayout>

                <StackLayout>
                    <TextField text="Token" [(ngModel)]="deviceToken" color="#000"></TextField>
                    <TextField text="Başlık" [(ngModel)]="title" color="#000"></TextField>
                    <TextField text="Açıklama" [(ngModel)]="description" color="#000"></TextField>
                    <Label text="Test Notification" (tap)="testNotification()" padding="30" background="black" color="#fff" fontSize="14" textAlignment="center" marginTop="30" marginBottom="20"></Label>
                </StackLayout>

            </StackLayout>

        </DockLayout>

    </ScrollView>

</DockLayout>