/* Add mobile styles for the component here.  */
.profileTop {
    background-image: url("~/assets/background.jpg");
    background-size: cover;
    background-position: center top;
    color: white;
}

.hr-red {
    margin: 13px 0;
}

.avatar {
    border-width: 5;
    border-color: white;
}