<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/trail-icon.png" marginRight="10" width="20" height="20"></Image>
        <Label text="PARKURLAR" fontWeight="400" letterSpacing=".05"></Label>
    </StackLayout>
    <NavigationButton visibility="collapsed" text android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout>

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="89%" *ngIf="!loading">
        <GridLayout tkExampleTitle tkToggleNavButton height="100%">
            <RadListView #adminTrailList [items]="trailItems" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout [nsRouterLink]="['../admin-trail-detail', item.id]" columns="*, 50" rows="auto" width="100%" verticalAlignment="top" borderBottomWidth="1" borderBottomColor="#FFB500">

                        <StackLayout row="0" col="0" padding="15">
                            <Label [text]="item.track_name" textWrap="true"></Label>
                            <Label [text]="item.racecourse" textWrap="true"></Label>
                        </StackLayout>
                        
                        <StackLayout row="0" col="1" verticalAlignment="center">
                            <Label color="black" class="la" [text]="'la-angle-right' | fonticon" textAlignment="center"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
            </RadListView>
        </GridLayout>
    </ScrollView>

    <ScrollView dock="top" height="11%" *ngIf="!loading">
        <GridLayout columns="*" [nsRouterLink]="['../admin-trail-save', 0]" orientation="horizontal" width="100%" backgroundColor="transparent" textAlignment="center" horizontalAlignment="center" padding="5 5 5 5">
            <StackLayout class="btn btn-orange" height="50" margin="0" paddingTop="15" width="100%" textAlignment="center">

                <Label class="text-center">
                    <FormattedString>
                        <Span class="la" [text]="'la-plus-circle' | fonticon"></Span>
                        <Span text=" PARKUR EKLE"></Span>
                    </FormattedString>
                </Label>

            </StackLayout>
        </GridLayout>
    </ScrollView>

</DockLayout>