<BottomNavigation selectedIndex="1">
    
    <TabStrip iosIconRenderingMode="alwaysOriginal" >

        <TabStripItem class="first-tab" (tap)="goBack()">
            <Image src="~/icons/home-icon.png"></Image>
            <Label text="Home" color="white" fontSize="13"></Label>
        </TabStripItem>
        <TabStripItem>
            <Image src="~/icons/kosular@3x.png"></Image>
            <Label text="Koşu Planla" color="white" fontSize="13"></Label>
        </TabStripItem>
        <TabStripItem>
            <Image src="~/icons/trail-icon.png"></Image>
            <Label text="Parkurlar" color="white" fontSize="13"></Label>
        </TabStripItem>
        <TabStripItem>
            <Image src="~/icons/bildirimler@3x.png"></Image>
            <Label text="Bildirim" color="white" fontSize="13"></Label>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <DockLayout backgroundColor="#FFB500">
            <ScrollView dock="top">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#FFFFFF"></ActivityIndicator>
            </ScrollView>
        </DockLayout>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="adminRaceTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="adminTrailTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="adminNotificationTab"></page-router-outlet>
    </TabContentItem>

</BottomNavigation>