<ActionBar title="KOŞUYA DAVET">
    <NavigationButton visibility="collapsed" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="goNotificationList()" ios.systemIcon="8" ios.position="left" android.systemIcon="ic_menu_back" android.position="actionBar"></ActionItem>
</ActionBar>

<DockLayout  class="page" stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#FFFFFF"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <StackLayout width="100%" height="100%">
            <StackLayout class="p-10" marginTop="50">

                <Label [text]="notificationTitle" class="message" color="white" fontSize="22" fontWeight="600" textAlignment="center" marginBottom="50" textWrap="true"></Label>
                <Label [text]="dayAndMonthConvert(race.start_date) + ' ' + yearConvert(race.start_date) + ', ' + timeConvert(race.start_date + ' ' + race.start_hour) + ', ' + race.title + ' beraber koşmak için arkadaşın seni koşuya davet ediyor. Koşuya katılmak için alttaki KABUL ET butonuna tıklayın.'" textWrap="true" color="white" fontWeight="400" textAlignment="center"></Label>

                <Button class="btn btn-red btn-lg" (tap)="accept()" width="100%" height="60" marginTop="60" text="KABUL ET"></Button>
                <Button class="btn btn-black btn-lg" (tap)="reject()" width="100%" height="60" marginTop="10" text="REDDET"></Button>

            </StackLayout>
        </StackLayout>
    </ScrollView>

</DockLayout>