<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label [text]="pageTitle" fontWeight="400"></Label>
    </StackLayout>
    <NavigationButton visibility="visible" text android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout>

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%">
        <WrapLayout>

            <TextField [(ngModel)]="race.id" [text]="race.id" visibility="collapse"></TextField>

            <StackLayout class="input-area" width="100%" padding="10">
                <Label text="Koşu Adı" class="input-title"></Label>
                <TextField #title [(ngModel)]="race.title" [text]="race.title" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                <StackLayout class="hr-gray" height="1"></StackLayout>
                <Label #errorTitle class="error-red"></Label>
            </StackLayout>

            <StackLayout class="input-area" width="100%" padding="5 10">
                <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%">
                    <Label text="Parkur" class="input-title" row="0" colSpan="2"></Label>
                    <DropDown #trail [items]="trails" [selectedIndex]="selectedTrail" (selectedIndexChanged)="trailChange($event)" android:height="40" android:borderWidth="1" android:borderColor="transparent" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" ios:height="35" hint="Seçiniz" class="DD"></DropDown>
                    <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" paddingTop="10" android:height="40"></Label>
                    <StackLayout class="hr-gray" row="2" colSpan="2" height="1"></StackLayout>
                    <Label #errorTrailID class="error-red" row="3"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout class="input-area" width="100%">
                <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                    <Label text="Tarih" class="input-title" row="0" colSpan="2"></Label>
                    <DatePickerField #startDate [date]="race.start_date" (dateChange)="startDateChange($event)" padding="6" android:height="40" ios:height="35" dateFormat="dd/MM/yyyy" locale="tr_TR" hint="Tarih Seçiniz" row="1" colSpan="2"></DatePickerField>
                    <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" paddingTop="10" android:height="40"></Label>
                    <StackLayout class="hr-gray" row="2" colSpan="2" height="1"></StackLayout>
                    <Label #errorStartDate class="error-red" row="3"></Label>
                </GridLayout>
            </StackLayout>

            <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                <Label text="Koşu Tipi" class="input-title" row="0" colSpan="2"></Label>
                <DropDown #raceType [items]="raceTypes" [selectedIndex]="selectedRaceType" (selectedIndexChanged)="raceTypeChange($event)" android:height="40" android:borderWidth="1" android:borderColor="transparent" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" ios:height="35" hint="Seçiniz" class="DD"></DropDown>
                <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" paddingTop="10" android:height="40"></Label>
                <StackLayout class="hr-gray" row="2" colSpan="2" height="1"></StackLayout>
                <Label #errorRaceType class="error-red" row="3"></Label>
            </GridLayout>

            <FlexBoxLayout>

                <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="50%" padding="10">
                    <Label text="Koşu Başlangıç Saati" class="input-title" row="0" colSpan="2"></Label>
                    <TimePickerField #startHour [time]="race.start_hour" (timeChange)="startHourChange($event)" android:height="35" ios:height="35" dateFormat="hh/mm" locale="tr_TR" row="1" colSpan="2" hint="Seçiniz" class="DD"></TimePickerField>
                    <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" paddingTop="10" android:height="40"></Label>
                    <StackLayout class="hr-gray" row="2" colSpan="2" height="1"></StackLayout>
                    <Label #errorStartHour class="error-red" row="3"></Label>
                </GridLayout>

                <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="50%" padding="10">
                    <Label text="Koşu Bitiş Saati" class="input-title" row="0" colSpan="2"></Label>
                    <TimePickerField #endHour [time]="race.end_hour" (timeChange)="endHourChange($event)" android:height="35" ios:height="35" dateFormat="hh/mm" locale="tr_TR" row="1" colSpan="2" hint="Seçiniz" class="DD"></TimePickerField>
                    <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" paddingTop="10" android:height="40"></Label>
                    <StackLayout class="hr-gray" row="2" colSpan="2" height="1"></StackLayout>
                    <Label #errorEndHour class="error-red" row="3"></Label>
                </GridLayout>

            </FlexBoxLayout>

            <StackLayout width="100%" padding="10">
                <Label text="Minimum Süre" class="input-title"></Label>
                <TextField #minTime [(ngModel)]="race.min_time" [text]="race.min_time" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" android:padding="0 10"></TextField>
                <StackLayout class="hr-gray"></StackLayout>
                <Label #errorMinTime class="error-red" ></Label>
            </StackLayout>

            <StackLayout width="100%" padding="10">
                <Label text="Koşu Hakkında" class="input-title"></Label>
                <TextView #description [(ngModel)]="race.description" [text]="race.description" class="textarea-input" autocorrect="false" autocapitalizationType="none" returnKeyType="next" height="100"></TextView>
                <StackLayout class="hr-gray"></StackLayout>
                <Label #errorDescription class="error-red"></Label>
            </StackLayout>

            <StackLayout width="100%" padding="0 10 20 10">
                <Button text="KAYDET" (tap)="saveRace()" class="btn btn-orange m-t-20" width="100%" height="55"></Button>
            </StackLayout>

        </WrapLayout>
    </ScrollView>

</DockLayout>