<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/bildirimler@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="BİLDİRİM GÖNDER" fontWeight="400" letterSpacing=".05"></Label>
    </StackLayout>
    <NavigationButton visibility="visible" text android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout>

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <WrapLayout>

            <StackLayout class="input-area" width="100%" padding="10">
                <Label [text]="'Kişiler :' + userIds" class="input-title" color="black" textWrap="true"></Label>
            </StackLayout>
            
            <StackLayout class="input-area" width="100%" padding="10">
                <Label text="Bildirim Başlığı" class="input-title"></Label>
                <TextField #notificationTitle [(ngModel)]="notification.title" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                <StackLayout class="hr-gray" height="1"></StackLayout>
                <Label #errorNotificationTitle class="error-red"></Label>
            </StackLayout>

            <StackLayout width="100%" padding="10">
                <Label text="Bildirim Başlığı Detayı" class="input-title"></Label>
                <TextView #notificationDescription [(ngModel)]="notification.description" class="textarea-input" autocorrect="false" autocapitalizationType="none" returnKeyType="next" height="100"></TextView>
                <StackLayout class="hr-gray" height="1"></StackLayout>
                <Label #errorNotificationDescription class="error-red"></Label>
            </StackLayout>

            <StackLayout width="100%" padding="0 10 20 10">
                <Button text="GÖNDER" (tap)="saveNotification()" class="btn btn-orange m-t-20" width="100%" height="55"></Button>
            </StackLayout>

        </WrapLayout>
    </ScrollView>

</DockLayout>