<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="ADMİN KOŞULAR" fontWeight="400" letterSpacing=".05"></Label>
    </StackLayout>
    <NavigationButton visibility="collapsed" text android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">

    <StackLayout dock="top" height="8%">
        <GridLayout rows="auto, auto" columns="*, 20, *, 20" width="100%" borderBottomWidth="1" borderColor="#FFB500">
            
            <StackLayout row="0" colSpan="2" borderBottomWidth="1" borderColor="#FFB500">
                <GridLayout columns="*, 30" rows="50"  width="100%" ios:padding="1" android:padding="10" >
                    <DropDown #month [items]="months" (selectedIndexChanged)="monthChange($event)" hint="Ay Seçiniz" android:height="50" android:borderWidth="1" android:borderColor="transparent" ios:height="50" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" class="DD"></DropDown>
                    <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" color="black" textAlignment="center"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout row="0" col="2" colSpan="2"  borderLeftWidth="1" borderBottomWidth="1" borderColor="#FFB500">
                <GridLayout columns="*, 30" rows="50" width="100%" ios:padding="1" android:padding="10">
                    <DropDown #city [items]="cities" (selectedIndexChanged)="cityChange($event)" hint="Şehir Seçiniz" android:height="50" android:borderWidth="1" android:borderColor="transparent" ios:height="50" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" class="DD"></DropDown>
                    <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" color="black" textAlignment="center"></Label>
                </GridLayout>
            </StackLayout>

        </GridLayout>
    </StackLayout>

    <ScrollView dock="top" height="81%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="81%" *ngIf="!loading">
        <GridLayout tkExampleTitle tkToggleNavButton height="100%">
            <RadListView #adminRaceList [items]="raceItems" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout [nsRouterLink]="['../admin-race-detail', item.id]" columns="70, *, 50" rows="auto, auto, auto" width="100%" verticalAlignment="top" class="raceItem" borderBottomWidth="1" borderBottomColor="#FFB500">
                        
                        <StackLayout row="0" col="0" class="date">
                            <Image [src]="raceType(item.race_type)" horizontalAlignment="center" borderRadius="0" stretch="aspectFit" height="20"></Image>
                            <Label [text]="dateDayNumber(item.start_date)" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                            <Label [text]="dateDayText(item.start_date)" fontSize="13px" verticalAlignment="center" textAlignment="center" marginBottom="5"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" padding="15">
                            <Label [text]="item.title" textWrap="true" marginBottom="2"></Label>
                            <Label [text]="timeConvert(item.start_date + ' ' + item.start_hour) + ' - ' + item.racecourse" fontSize="11px" marginBottom="2"></Label>

                            <GridLayout columns="20, *, 20, *" width="100%">
                                <Label [text]="item.count_user" row="0" col="0" fontSize="12px" color="#FFB500" fontWeight="600"></Label>
                                <Label text="kişi kaydoldu" row="0" col="1" fontSize="11px"></Label>
                                <Label [text]="item.count_team" *ngIf="item.race_type == 'team'" row="0" col="2" fontSize="12px" color="#FFB500" fontWeight="600"></Label>
                                <Label text="takım kaydoldu" *ngIf="item.race_type == 'team'" row="0" col="3" fontSize="11px"></Label>
                            </GridLayout>
                        </StackLayout>

                        <StackLayout row="0" col="2" verticalAlignment="center">
                            <Label color="black" class="la" [text]="'la-angle-right' | fonticon" textAlignment="center"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
            </RadListView>
        </GridLayout>
    </ScrollView>

    <ScrollView dock="top" height="11%">
        <GridLayout columns="*" [nsRouterLink]="['../admin-race-save', 0]" orientation="horizontal" width="100%" backgroundColor="transparent" textAlignment="center" horizontalAlignment="center" padding="5 5 5 5">
            <StackLayout class="btn btn-orange" height="50" margin="0" paddingTop="15" width="100%" textAlignment="center">

                <Label class="text-center">
                    <FormattedString>
                        <Span class="la" [text]="'la-plus-circle' | fonticon"></Span>
                        <Span text=" KOŞUYU PLANLA"></Span>
                    </FormattedString>
                </Label>

            </StackLayout>
        </GridLayout>
    </ScrollView>

</DockLayout>