<ActionBar title="Koşuya katıldın">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout class="page" stretchLastChild="true" backgroundColor="transparent">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#FFFFFF"></ActivityIndicator>
    </ScrollView>
    
    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <StackLayout height="100%" width="100%">

            <Image row="0" col="0" [src]="user.passphoto_url" rowspan="1" width="150" height="150" margin="10" borderWidth="5" borderColor="white" verticalAlignment="center" borderRadius="150"></Image>

            <Label [text]="user.firstname +', koşuda bizimle olacağını duyduk. Harika!'" padding="20" textWrap="true" fontWeight="500" color="white" textAlignment="center"></Label>
            
            <Label [text]="user.firstname + ' unutmadan.. genelde koşuya gelenler yarış sonrasında koşanlarla sohbet ederken paylaşmak için yiyecek içecek bir şeyler alıp koşuya getirirler sen de getirirsen seviniriz. Getiremezsen getirdiklerimizi paylaşırız.'" fontWeight="300" textWrap="true" color="white" textAlignment="center" padding="20" marginBottom="20"></Label>

            <Button text="Koşu Sayfasına Geri Dön" (tap)="goRaceDetail()" class="btn btn-red m-t-20" height="55"></Button>

        </StackLayout>
    </ScrollView>

</DockLayout>