<ActionBar title="Koşuya Davet Et">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="15%">
        <StackLayout class="page" height="100%" marginTop="0" padding="20% 10%">
            <TextField (textChange)="userSearch($event)" height="100%" hint="Kişi ara" autocorrect="false" backgroundColor="white" padding="10"></TextField>
        </StackLayout>
    </ScrollView>

    <ScrollView dock="top" height="85%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
    </ScrollView>
    
    <ScrollView dock="top" height="85%" *ngIf="!loading">
        <StackLayout height="100%" width="100%" dock="top" color="black">

            <StackLayout height="100%" padding="10" *ngIf="warningText != ''">
                <label [text]="warningText" fontSize="16" textWrap="true" marginTop="20" textAlignment="center"></label>
            </StackLayout>

            <GridLayout height="83%">
                <RadListView #friendList [items]="friendItems" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" selectionBehavior="Press" multipleSelection="true" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
                    <ng-template tkListItemTemplate let-item="item">
                        <StackLayout class="item" orientation="vertical" borderBottomWidth="1" borderBottomColor="#e7e7e7" paddingTop="5" paddingBottom="5">
                            <GridLayout rows="*,*" columns="40, 80, *">
                                
                                <StackLayout col="0"></StackLayout>

                                <StackLayout col="1">
                                    <Image [src]="item.passphoto" width="60" height="60" borderRadius="75" borderColor="gray" borderWidth="2"></Image>
                                </StackLayout>

                                <StackLayout col="2" paddingTop="10">
                                    <Label [text]="item.firstname + ' ' + item.lastname" fontWeight="400" fontSize="16"></Label>
                                    <Label [text]="item.district_name + ', ' + item.city_name" fontWeight="300" fontSize="12"></Label>
                                </StackLayout>

                            </GridLayout>
                        </StackLayout>
                    </ng-template>
                </RadListView>
            </GridLayout>

            <StackLayout height="17%" width="100%" padding="10%">
                <Button text="DAVET ET" (tap)="sendInvitation()" backgroundColor="black" height="100%" color="white" fontWeight="400" fontSize="15"></Button>
            </StackLayout>

        </StackLayout>
    </ScrollView>

</DockLayout>