<BottomNavigation (loaded)="onBottomNavigationLoaded($event)" selectedIndex="2">
    
    <TabStrip iosIconRenderingMode="alwaysOriginal">
        <TabStripItem (tap)="campaingRefresh()">
            <Image src="~/icons/kampanyalar@3x.png" class="nav-item"></Image>
        </TabStripItem>
        <TabStripItem (tap)="resultRefresh()">
            <Image src="~/icons/sonuclar@3x.png" class="nav-item"></Image>
        </TabStripItem>
        <TabStripItem (tap)="raceRefresh()">
            <Image src="~/icons/kosular@3x.png" class="nav-item"></Image>
        </TabStripItem>
        <TabStripItem (tap)="notificationRefresh()">
            <Image src="~/icons/bildirimler@3x.png" class="nav-item"></Image>
            <Label [text]="notificationCount()" color="white" fontSize="10"></Label>
        </TabStripItem>
        <TabStripItem (tap)="profileRefresh()">
            <Image src="~/icons/profil@3x.png" class="nav-item"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="campaignTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="resultTab"></page-router-outlet>
    </TabContentItem>
    
    <TabContentItem>
        <page-router-outlet name="raceTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="notificationTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="profileTab"></page-router-outlet>
    </TabContentItem>

</BottomNavigation>