<ActionBar [title]="race.title" backgroundColor="orange">
    <NavigationButton visibility="collapsed" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="goRaceList()" ios.systemIcon="8" ios.position="left" android.systemIcon="ic_menu_back" android.position="actionBar"></ActionItem>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <StackLayout width="100%">

            <GridLayout columns="*, *" rows="*" margin="10 20 0 20">
                <Button text="Koşu Bitti" *ngIf="raceStatus == 'race_is_over'" col="0" colSpan="2" row="0" class="btn btn-black" color="white" width="100%" height="50"></Button>
                <Button text="Koşu Devam Ediyor" *ngIf="raceStatus == 'race_start'" col="0" colSpan="2" row="0" class="btn btn-black" color="white" width="100%" height="50"></Button>
                <Button text="Düzenle" [nsRouterLink]="['../../admin-race-save', race.id]" *ngIf="raceStatus == 'race_did_not_start'" col="0" row="0" class="btn btn-success" color="white" width="100%" height="50"></Button>
                <Button text="Sil" (tap)="deleteRace(race.id)" *ngIf="raceStatus == 'race_did_not_start'" col="1" row="0" class="btn btn-red" color="white" width="100%" height="50"></Button>
            </GridLayout>

            <!-- <StackLayout width="100%" padding="0 20 0 20" v-if="nowHour <= raceDetail.startHour && nowDate == raceDetail.startDate">
                <Button text="YARIŞI BAŞLAT" @tap="adminRaceStart()" class="btn btn-orange m-t-20" width="100%" height="55"></Button>
            </StackLayout> -->

            <GridLayout rows="30,30" columns="30,*,80" margin="20 20 10 20">
                <StackLayout col="0" row="0">
                    <Label color="black" class="la" [text]="'la-calendar-o' | fonticon" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout col="1" row="0">
                    <Label [text]="dayAndMonthConvert(race.start_date) + ' ' + dayConvert(race.start_date)" textWrap="true"></Label>
                </StackLayout>
                <StackLayout col="0" row="1">
                    <Label color="black" class="la" [text]="'la-clock-o' | fonticon" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout col="1" row="1">
                    <Label [text]="timeConvert(race.start_date + ' ' + race.start_hour) + ' - ' + timeConvert(race.start_date + ' ' + race.end_hour)" textWrap="true"></Label>
                </StackLayout>
            </GridLayout>

            <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

            <StackLayout orientation="horizontal" margin="20 20 10 20">

                <GridLayout width="10%" (tap)="openMapURL(race.start_latitude, race.start_longitude)">
                    <Label color="black" class="la" [text]="'la-globe' | fonticon" textAlignment="center"></Label>
                </GridLayout>
            
                <GridLayout width="90%" (tap)="openMapURL(race.start_latitude, race.start_longitude)">
                    <Label [text]="race.open_address" textWrap="true"></Label>
                </GridLayout>
            
            </StackLayout>
            
            <StackLayout orientation="horizontal" margin="0 20 20 27">

                <GridLayout columns="27, *" width="55%" (tap)="openMapURL(race.start_latitude, race.start_longitude)">
                    <Label col="0" color="black" class="la" [text]="'la-map-marker' | fonticon" textAlignment="left"></Label>
                    <Label col="1" text="Başlangıç Noktası"></Label>
                </GridLayout>
            
                <GridLayout columns="27, *" width="45%" (tap)="openMapURL(race.end_latitude, race.end_longitude)">
                    <Label col="0" color="black" class="la" [text]="'la-map-marker' | fonticon" textAlignment="left"></Label>
                    <Label col="1" text="Bitiş Noktası"></Label>
                </GridLayout>
            
            </StackLayout>
            
            <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

            <StackLayout orientation="horizontal" margin="20" marginBottom="10" marginTop="15">
                <GridLayout width="10%">
                    <Label class="person"></Label>
                </GridLayout>
            
                <GridLayout width="90%">
                    <Label [text]="race.count_user + ' kişi kaydoldu'" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>
            
            <StackLayout orientation="horizontal" margin="20" marginBottom="10" marginTop="0" *ngIf="race.race_type == 'team'">
                <GridLayout width="10%">
                    <Label class="group"></Label>
                </GridLayout>
            
                <GridLayout width="90%">
                    <Label [text]="race.count_team + ' takım kuruldu'" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout width="100%" padding="0 20">
                <Label text="Koşu Bilgileri" textAlignment="center" fontWeight="700" fontSize="22" margin="10" textWrap="true"></Label>
                <Label [text]="race.description" textWrap="true" fontSize="15" marginBottom="0" textAlignment="center"></Label>
            </StackLayout>

            <GridLayout columns=" *" rows="*" margin="10 20 0 20">
                <Button text="Koşuya Katılanlar" [nsRouterLink]="['../../admin-race-result', race.id]" class="btn btn-black" color="white" width="100%" height="60"></Button>
            </GridLayout>

        </StackLayout>
    </ScrollView>

</DockLayout>