<ActionBar [title]="race.title">
    <NavigationButton visibility="collapsed" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="goRaceList()" ios.systemIcon="8" ios.position="left" android.systemIcon="ic_menu_back" android.position="actionBar"></ActionItem>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <StackLayout width="100%">
            
             <StackLayout>
                <Label text="Koşu başlamıştır" *ngIf="userRegister && isCameRace && userRaceStatus == 'race_start'" fontWeight="300" textWrap="true" fontSize="22" marginTop="10" textAlignment="center"></Label>
                <Label text="Koşu belirlenen saatte başlayacaktır" *ngIf="userRegister && isCameRace && userRaceStatus == 'race_did_not_start'" fontWeight="300" textWrap="true" fontSize="22" marginTop="10" textAlignment="center"></Label>
                <Label [text]="localTimer" *ngIf="userRegister && isCameRace && userRaceStatus == 'race_start'" fontWeight="bold" textWrap="true" fontSize="22" textAlignment="center"></Label>
            </StackLayout>

            <StackLayout width="100%" padding="5 20 0 20">
                <Button [text]="startBtnText" (tap)="locationStart()" *ngIf="userRegister && !isCameRace" class="btn btn-red m-t-20" width="100%" height="55"></Button>
                <Label *ngIf="userRegister && isCameRace && userRaceStatus == 'race_is_over'" text="Sonuçlar sayfasından derecenize bakabilirsiniz. Koşu bittikten sonra 12 saat boyunca sıralamada değişiklikler olabilir." textWrap="true" fontSize="22" marginTop="5" textAlignment="center"></Label>
            </StackLayout>

            <GridLayout rows="*" columns="*" *ngIf="userRegister && isCameRace && userRaceStatus == 'race_start'" width="100%" marginBottom="180" marginTop="20" padding="0 40">
                <Image src="~/icons/runner.png" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout rows="30,30" columns="30,*,80" margin="20 20 10 20">
                <StackLayout col="0" row="0">
                    <Label color="black" class="la" [text]="'la-calendar-o' | fonticon" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout col="1" row="0">
                    <Label [text]="dayAndMonthConvert(race.start_date) + ' ' + dayConvert(race.start_date)" textWrap="true"></Label>
                </StackLayout>
                <StackLayout col="2" row="0" rowSpan="2">
                    <Button class="btn btn-primary" (tap)="addToCalendar()" [text]="calendarText" *ngIf="userRegister" textAlignment="center" margin="0 0 0 0" width="100%" height="50" fontSize="15" textWrap="true"></Button>
                </StackLayout>
                <StackLayout col="0" row="1">
                    <Label color="black" class="la" [text]="'la-clock-o' | fonticon" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout col="1" row="1">
                    <Label [text]="timeConvert(race.start_date + ' ' + race.start_hour) + ' - ' + timeConvert(race.start_date + ' ' + race.end_hour)" textWrap="true"></Label>
                </StackLayout>
            </GridLayout>

            <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

            <StackLayout orientation="horizontal" margin="20 20 10 20">

                <GridLayout width="10%" (tap)="openMapURL(race.start_latitude, race.start_longitude)">
                    <Label color="black" class="la" [text]="'la-globe' | fonticon" textAlignment="center"></Label>
                </GridLayout>
            
                <GridLayout width="90%" (tap)="openMapURL(race.start_latitude, race.start_longitude)">
                    <Label [text]="race.open_address" textWrap="true"></Label>
                </GridLayout>
            
            </StackLayout>
            
            <StackLayout orientation="horizontal" margin="0 20 20 27">

                <GridLayout columns="27, *" width="55%" (tap)="openMapURL(race.start_latitude, race.start_longitude)">
                    <Label col="0" color="black" class="la" [text]="'la-map-marker' | fonticon" textAlignment="left"></Label>
                    <Label col="1" text="Başlangıç Noktası"></Label>
                </GridLayout>
            
                <GridLayout columns="27, *" width="45%" (tap)="openMapURL(race.end_latitude, race.end_longitude)">
                    <Label col="0" color="black" class="la" [text]="'la-map-marker' | fonticon" textAlignment="left"></Label>
                    <Label col="1" text="Bitiş Noktası"></Label>
                </GridLayout>
            
            </StackLayout>
            
            <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

            <StackLayout orientation="horizontal" margin="20" marginBottom="0" marginTop="10">
                <GridLayout width="10%">
                    <Label class="person"></Label>
                </GridLayout>
            
                <GridLayout width="90%">
                    <Label [text]="race.count_user + ' kişi kaydoldu'" [nsRouterLink]="['../../race-registered-users', race.id]" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>
            
            <StackLayout orientation="horizontal" margin="20" marginBottom="10" marginTop="5" *ngIf="race.race_type == 'team'">
                <GridLayout width="10%">
                    <Label class="group"></Label>
                </GridLayout>
            
                <GridLayout width="90%">
                    <Label [text]="race.count_team + ' takım kuruldu'" (tap)="registeredTeams()" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout width="100%" padding="20">
                <Label text="Koşu Bilgileri" textAlignment="center" fontWeight="700" fontSize="22" margin="10" textWrap="true"></Label>
                <Label [text]="race.description" textWrap="true" fontSize="15" marginBottom="5" textAlignment="center"></Label>
                <Button text="SEN DE KATIL" (tap)="raceUserRegister()" *ngIf="!userRegister && userRaceStatus == 'race_did_not_start'" class="btn btn-black m-t-20" width="100%" height="55"></Button>
                <Button text="TAKIM OLARAK KOŞ" (tap)="teamChoose()" *ngIf="race.race_type == 'team' && !team && userRaceStatus == 'race_did_not_start'" class="btn btn-red m-t-10" width="100%" height="55"></Button>
                <Button text="ARKADAŞINI KOŞUYA DAVET ET" [nsRouterLink]="['../../race-invite-friend', race.id]" *ngIf="userRegister && userRaceStatus == 'race_did_not_start'" class="btn btn-black" width="100%" height="55"></Button>
            </StackLayout>

        </StackLayout>
    </ScrollView>

</DockLayout>