/* Add mobile styles for the component here.  */
.person {
    background-image: url("~/icons/runner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
}

.group {
    width: 40px;
    height: 40px;
    background-image: url("~/icons/runners.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}