/* Add mobile styles for the component here.  */
.bg {
    background-image: url("~/assets/background.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.date {
    border-right-color: #e7e7e7;
    border-right-width: 2px;
    border-bottom-color: white;
    border-bottom-width: 1px;
    align-content: center;
    text-align: center;
    padding-top: 11%;
    padding-left: 0;
}

.date.red {
    background-color: red;
}

.date.red * {
    color: white;
}

.person {
    background-image: url("~/icons/runner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
}

.group {
    width: 40px;
    height: 40px;
    background-image: url("~/icons/runners.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.passiveTab {
    color: white;
}

.activeTab {
    background-color: white;
    color: black;
}