<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/sonuclar@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="SONUÇLAR" fontWeight="400" letterSpacing=".1"></Label>
    </StackLayout>
    <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
    </ScrollView>
            
    <ScrollView dock="top" height="100%">
        
        <StackLayout verticalAlignment="top" height="100%">

            <GridLayout rows="100,100,50" columns="90, 150,*" color="white" padding="0" class="bg" height="180">
                
                <Image [src]="user.passphoto_url" row="0" col="0" rowspan="1" width="80" height="80" margin="5" borderWidth="3" borderColor="white" verticalAlignment="center" borderRadius="80"></Image>

                <StackLayout row="0" col="1" paddingLeft="7" paddingTop="30">
                    <Label [text]="user.firstname + ' ' + user.lastname" fontWeight="500"></Label>
                    <Label text="İlçe, İl" fontSize="13"></Label>
                </StackLayout>

                <StackLayout row="0" col="2" paddingTop="2" paddingLeft="10" *ngIf="raceUser.ranking">
                    <FlexboxLayout row="0" col="2" paddingTop="30">
                        <Label [text]="raceUser.ranking" fontWeight="500" fontSize="15"></Label>
                        <Label [text]="'/ ' + raceUser.count_user + ' koşucu'" fontSize="13"></Label>
                    </FlexboxLayout>
                    <Label [text]="raceUser.finishing_hour" fontSize="13"></Label>
                </StackLayout>

                <StackLayout row="1" colSpan="3" paddingTop="0" orientation="horizontal">
                    <Button text="Katıldığım Koşular" (tap)="tabControl('all')" [ngClass]="{ 'activeTab': tab1 == true, 'passiveTab': tab1 == false }" width="50%" textAlignment="center" margin="0" padding="0" height="60"></Button>
                    <Button text="Tüm Koşular" (tap)="tabControl('userAttended')" [ngClass]="{ 'activeTab': tab2 == true, 'passiveTab': tab2 == false }" width="50%" textAlignment="center" margin="0" padding="0" height="60"></Button>
                </StackLayout>

            </GridLayout>

            <StackLayout width="100%">

                <ScrollView dock="top" height="100%">

                    <GridLayout height="100%" *ngIf="tab1">
                        <RadListView #userAttendedRunsView [items]="userAttendedRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshUserAttendedRuns($event)">
                            <ng-template let-item="item">
            
                                <GridLayout columns="70, *, 50" rows="auto, auto, auto" width="100%" verticalAlignment="top" borderBottomWidth="1" borderBottomColor="#e7e7e7">
    
                                    <StackLayout row="0" col="0" class="date red">
                                        <Label [text]="dateDayNumber(item.race_start_date)" fontWeight="300" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                                        <Label [text]="dateMonthText(item.race_start_date)" fontWeight="400" fontSize="13px" marginBottom="3" verticalAlignment="center" textAlignment="center"></Label>
                                        <Label [text]="dateYearNumber(item.race_start_date)" fontWeight="300" fontSize="13px" verticalAlignment="center" textAlignment="center"></Label>
                                    </StackLayout>
    
                                    <StackLayout row="0" col="1" padding="15">
                                        <Label [text]="item.title" textWrap="true"></Label>
    
                                        <Label [text]="item.ranking + '. sıradasın'" fontSize="12px" color="#DA291C" fontWeight="600"></Label>
    
                                        <GridLayout columns="20, *, 20, *" width="100%">
                                            <Label [text]="item.count_user" row="0" col="0" fontSize="12px" color="#DA291C" fontWeight="600"></Label>
                                            <Label text="kişi koştu" row="0" col="1" fontSize="11px"></Label>
                                            <Label [text]="item.count_team" row="0" col="2" fontSize="12px" color="#DA291C" fontWeight="600"></Label>
                                            <Label text="takım koştu" row="0" col="3" fontSize="11px"></Label>
                                        </GridLayout>
                                    </StackLayout>
    
                                    <StackLayout row="0" col="2" verticalAlignment="center">
                                        <Label color="black" class="la" [text]="'la-angle-right' | fonticon" textAlignment="center"></Label>
                                    </StackLayout>
                                    
                                </GridLayout>
            
                            </ng-template>
                        </RadListView>
                    </GridLayout>
            
                    <GridLayout height="100%" *ngIf="tab2">
                        <RadListView #allRunsView [items]="allRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshAllRuns($event)">
                            <ng-template let-item="item">
            
                                <GridLayout columns="70, *, 50" rows="auto, auto, auto" width="100%" verticalAlignment="top" borderBottomWidth="1" borderBottomColor="#e7e7e7">

                                    <StackLayout row="0" col="0" class="date" [ngClass]="{ 'red': item.race_ranking != null, 'white': item.race_ranking == null }">
                                        <Label [text]="dateDayNumber(item.start_date)" fontWeight="300" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                                        <Label [text]="dateMonthText(item.start_date)" fontWeight="400" fontSize="13px" marginBottom="3" verticalAlignment="center" textAlignment="center"></Label>
                                        <Label [text]="dateYearNumber(item.start_date)" fontWeight="300" fontSize="13px" verticalAlignment="center" textAlignment="center"></Label>
                                    </StackLayout>

                                    <StackLayout row="0" col="1" padding="15">
                                        <Label [text]="item.title" textWrap="true"></Label>

                                        <Label [text]="item.race_ranking ? item.race_ranking + '. sıradasın' : 'Katılmadın'" fontSize="12px" color="#DA291C" fontWeight="600"></Label>

                                        <GridLayout columns="20, *, 20, *" width="100%">
                                            <Label [text]="item.count_user" row="0" col="0" fontSize="12px" color="#DA291C" fontWeight="600"></Label>
                                            <Label text="kişi koştu" row="0" col="1" fontSize="11px"></Label>
                                            <Label [text]="item.count_team" row="0" col="2" fontSize="12px" color="#DA291C" fontWeight="600"></Label>
                                            <Label text="takım koştu" row="0" col="3" fontSize="11px"></Label>
                                        </GridLayout>
                                    </StackLayout>

                                    <StackLayout row="0" col="2" verticalAlignment="center">
                                        <Label color="black" class="la" [text]="'la-angle-right' | fonticon" textAlignment="center"></Label>
                                    </StackLayout>
                                    
                                </GridLayout>
            
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    
                </ScrollView>

            </StackLayout>

        </StackLayout>

    </ScrollView>

</DockLayout>