<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="Koşuya Katılanlar" fontWeight="400"></Label>
    </StackLayout>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">
    
    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" width="100%" height="10%" backgroundColor="#FFB500">

        <GridLayout columns="*,*,*,*,*" height="100%">
            <Label col="0" text="Tümü" (tap)="tabControl('all')" [ngClass]="{ 'activeTab': tab1 == true, 'passiveTab': tab1 == false }" width="100%" textAlignment="center" margin="0" padding="0"></Label>
            <Label col="1" text="Kadın" (tap)="tabControl('female')" [ngClass]="{ 'activeTab': tab2 == true, 'passiveTab': tab2 == false }" width="100%" textAlignment="center" margin="0" padding="0"></Label>
            <Label col="2" text="Erkek" (tap)="tabControl('male')" [ngClass]="{ 'activeTab': tab3 == true, 'passiveTab': tab3 == false }" width="100%" textAlignment="center" margin="0" padding="0"></Label>
            <Label col="3" text="Diğer" (tap)="tabControl('other')" [ngClass]="{ 'activeTab': tab4 == true, 'passiveTab': tab4 == false }" width="100%" textAlignment="center" margin="0" padding="0"></Label>
            <Label col="4" text="Takım" (tap)="tabControl('team')" [ngClass]="{ 'activeTab': tab5 == true, 'passiveTab': tab5 == false }" width="100%" textAlignment="center" margin="0" padding="0"></Label>
        </GridLayout>

    </ScrollView>

    <ScrollView dock="top" height="90%">

        <GridLayout height="100%" *ngIf="tab1">
            <RadListView #allRunsView [items]="allRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshGenderRuns($event, '')">

                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout columns="50, 70, *, 70, 60" rows="auto, auto, auto" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label [text]="item.ranking ? item.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" padding="5">
                            <Image [src]="item.passphoto" row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1" borderColor="black" verticalAlignment="center" borderRadius="80"></Image>
                        </StackLayout>

                        <StackLayout row="0" col="2" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.firstname + ' ' + item.lastname"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.finishing_hour && item.finishing_hour != '00:00:00' ? item.finishing_hour : '-'"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center" (tap)="timeEdit(item.user_id, item.finishing_hour, (item.firstname + ' ' + item.lastname))">
                            <Label color="black" class="la" fontSize="30px" [text]="'la-edit' | fonticon" textAlignment="center"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
                
                <ng-template tkListViewHeader>
                    <GridLayout columns="50, 70, *, 70, 60" padding="8 8 8 8" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" colSpan="2" padding="5">
                            <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" text="Süre"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center">
                            <Label textAlignment="left" text="Düzenle"></Label>
                        </StackLayout>

                    </GridLayout>
                </ng-template>

            </RadListView>
        </GridLayout>

        <GridLayout height="100%" *ngIf="tab2">
            <RadListView #femaleRunsView [items]="femaleRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshGenderRuns($event, 'kadin')">

                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout columns="50, 70, *, 70, 60" rows="auto, auto, auto" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label [text]="item.ranking ? item.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" padding="5">
                            <Image [src]="item.passphoto" row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1" borderColor="black" verticalAlignment="center" borderRadius="80"></Image>
                        </StackLayout>

                        <StackLayout row="0" col="2" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.firstname + ' ' + item.lastname"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.finishing_hour && item.finishing_hour != '00:00:00' ? item.finishing_hour : '-'"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center" (tap)="timeEdit(item.user_id, item.finishing_hour, (item.firstname + ' ' + item.lastname))">
                            <Label color="black" class="la" fontSize="30px" [text]="'la-edit' | fonticon" textAlignment="center"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
                
                <ng-template tkListViewHeader>
                    <GridLayout columns="50, 70, *, 70, 60" padding="8 8 8 8" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" colSpan="2" padding="5">
                            <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" text="Süre"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center">
                            <Label textAlignment="left" text="Düzenle"></Label>
                        </StackLayout>

                    </GridLayout>
                </ng-template>

            </RadListView>
        </GridLayout>

        <GridLayout height="100%" *ngIf="tab3">
            <RadListView #maleRunsView [items]="maleRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshGenderRuns($event, 'erkek')">

                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout columns="50, 70, *, 70, 60" rows="auto, auto, auto" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label [text]="item.ranking ? item.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" padding="5">
                            <Image [src]="item.passphoto" row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1" borderColor="black" verticalAlignment="center" borderRadius="80"></Image>
                        </StackLayout>

                        <StackLayout row="0" col="2" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.firstname + ' ' + item.lastname"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.finishing_hour && item.finishing_hour != '00:00:00' ? item.finishing_hour : '-'"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center" (tap)="timeEdit(item.user_id, item.finishing_hour, (item.firstname + ' ' + item.lastname))">
                            <Label color="black" class="la" fontSize="30px" [text]="'la-edit' | fonticon" textAlignment="center"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
                
                <ng-template tkListViewHeader>
                    <GridLayout columns="50, 70, *, 70, 60" padding="8 8 8 8" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" colSpan="2" padding="5">
                            <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" text="Süre"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center">
                            <Label textAlignment="left" text="Düzenle"></Label>
                        </StackLayout>

                    </GridLayout>
                </ng-template>

            </RadListView>
        </GridLayout>

        <GridLayout height="100%" *ngIf="tab4">
            <RadListView #otherRunsView [items]="otherRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshGenderRuns($event, 'diger')">

                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout columns="50, 70, *, 70, 60" rows="auto, auto, auto" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label [text]="item.ranking ? item.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" padding="5">
                            <Image [src]="item.passphoto" row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1" borderColor="black" verticalAlignment="center" borderRadius="80"></Image>
                        </StackLayout>

                        <StackLayout row="0" col="2" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.firstname + ' ' + item.lastname"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.finishing_hour && item.finishing_hour != '00:00:00' ? item.finishing_hour : '-'"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center" (tap)="timeEdit(item.user_id, item.finishing_hour, (item.firstname + ' ' + item.lastname))">
                            <Label color="black" class="la" fontSize="30px" [text]="'la-edit' | fonticon" textAlignment="center"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
                
                <ng-template tkListViewHeader>
                    <GridLayout columns="50, 70, *, 70, 60" padding="8 8 8 8" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" colSpan="2" padding="5">
                            <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" text="Süre"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="4" verticalAlignment="center">
                            <Label textAlignment="left" text="Düzenle"></Label>
                        </StackLayout>

                    </GridLayout>
                </ng-template>

            </RadListView>
        </GridLayout>

        <GridLayout height="100%" *ngIf="tab5">
            <RadListView #teamRunsView [items]="teamRuns" pullToRefresh="true" (pullToRefreshInitiated)="refreshTeamRuns($event)">

                <ng-template tkListItemTemplate let-item="item">

                    <GridLayout columns="50, 70, *, 70" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label [text]="item.ranking ? item.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" padding="5">
                            <Image [src]="item.photo" *ngIf="item.photo" row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1" borderColor="black" verticalAlignment="center" borderRadius="80"></Image>
                            <Label [text]="item.name.charAt(0).toUpperCase()" *ngIf="!item.photo" fontWeight="700" fontSize="20" backgroundColor="gray" borderRadius="50" textAlignment="center" width="60" height="60"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="2" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.name"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" [text]="item.finishing_time ? item.finishing_time : '-'"></Label>
                        </StackLayout>

                    </GridLayout>

                </ng-template>
                
                <ng-template tkListViewHeader>
                    <GridLayout columns="50, 70, *, 70" padding="8 8 8 8" width="100%" verticalAlignment="top" class="raceItem">

                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="1" colSpan="2" padding="5">
                            <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left"></Label>
                        </StackLayout>

                        <StackLayout row="0" col="3" verticalAlignment="center">
                            <Label textAlignment="left" text="Süre"></Label>
                        </StackLayout>

                    </GridLayout>
                </ng-template>

            </RadListView>
        </GridLayout>
        
    </ScrollView>

</DockLayout>