TabStrip {
    /* text-transform: none; */
    font-size: 13px;
    background-color: #FFB500;
    color: #000000;
}

.raceItem {
    font-weight: 200;
    font-size: 14px;
    border-bottom-color: #e7e7e7;
    border-bottom-width: 1px
}

.person {
    background-image: url("~/icons/runner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
}

.group {
    width: 40px;
    height: 40px;
    background-image: url("~/icons/runners.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.passiveTab {
    color: white;
}

.activeTab {
    background-color: white;
    color: black;
}