<ActionBar title="TAKIMA DAVET SONUCU">
    <NavigationButton visibility="collapsed" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="goNotificationList()" ios.systemIcon="8" ios.position="left" android.systemIcon="ic_menu_back" android.position="actionBar"></ActionItem>
</ActionBar>

<DockLayout  class="page" stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#FFFFFF"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <StackLayout width="100%" height="100%">
            <StackLayout class="p-10" marginTop="70">

                <Label [text]="notificationTitle" class="message" color="white" fontSize="22" fontWeight="600" textAlignment="center" marginBottom="50" textWrap="true"></Label>

            </StackLayout>
        </StackLayout>
    </ScrollView>

</DockLayout>