<ActionBar backgroundColor="orange">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/trail-icon.png" marginRight="10" width="20" height="20"></Image>
        <Label [text]="pageTitle" fontWeight="400"></Label>
    </StackLayout>
    <NavigationButton visibility="visible" text android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout>

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <WrapLayout>

            <TextField [(ngModel)]="trail.id" [text]="trail.id" visibility="collapse"></TextField>

            <StackLayout class="input-area" width="100%" padding="10">
                <Label text="Parkur Adı" class="input-title"></Label>
                <TextField #trackName [(ngModel)]="trail.track_name" [text]="trail.track_name" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                <StackLayout class="hr-gray" height="1"></StackLayout>
                <Label #errorTrackName class="error-red"></Label>
            </StackLayout>

            <StackLayout class="input-area" width="100%" padding="10">
                <Label text="Yarış Pisti" class="input-title"></Label>
                <TextField #racecourse [(ngModel)]="trail.racecourse" [text]="trail.racecourse" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                <StackLayout class="hr-gray" height="1"></StackLayout>
                <Label #errorRacecourse class="error-red"></Label>
            </StackLayout>

            <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                <Label text="Şehir" class="input-title" row="0" colSpan="2"></Label>
                <DropDown #city [items]="cities" [selectedIndex]="selectedCity" (selectedIndexChanged)="cityChange($event)" android:height="40" android:borderWidth="1" android:borderColor="transparent" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" ios:height="35" hint="Seçiniz" class="DD"></DropDown>
                <Label class="la" [text]="'la-angle-down' | fonticon" isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" paddingTop="10" android:height="40"></Label>
                <StackLayout class="hr-gray" row="2" colSpan="2" height="1"></StackLayout>
                <Label #errorCityID class="error-red" row="3"></Label>
            </GridLayout>

            <GridLayout columns="*, *" rows="auto" width="100%">

                <StackLayout col="0" row="0" class="input-area" width="100%" padding="10">
                    <Label text="Başlangıç noktası(lat)" class="input-title"></Label>
                    <TextField #startLatitude [(ngModel)]="trail.start_latitude" [text]="trail.start_latitude" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                    <StackLayout class="hr-gray" height="1"></StackLayout>
                    <Label #errorStartLatitude class="error-red"></Label>
                </StackLayout>

                <StackLayout col="1" row="0" class="input-area" width="100%" padding="10">
                    <Label text="Başlangıç noktası(lng)" class="input-title"></Label>
                    <TextField #startLongitude [(ngModel)]="trail.start_longitude" [text]="trail.start_longitude" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                    <StackLayout class="hr-gray" height="1"></StackLayout>
                    <Label #errorStartLongitude class="error-red"></Label>
                </StackLayout>
            
            </GridLayout>

            <GridLayout columns="*, *" rows="auto" width="100%">
            
                <StackLayout col="0" row="0" class="input-area" width="100%" padding="10">
                    <Label text="Bitiş noktası(lat)" class="input-title"></Label>
                    <TextField #endLatitude [(ngModel)]="trail.end_latitude" [text]="trail.end_latitude" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                    <StackLayout class="hr-gray" height="1"></StackLayout>
                    <Label #errorEndLatitude class="error-red"></Label>
                </StackLayout>

                <StackLayout col="1" row="0" class="input-area" width="100%" padding="10">
                    <Label text="Bitiş noktası(lng)" class="input-title"></Label>
                    <TextField #endLongitude [(ngModel)]="trail.end_longitude" [text]="trail.end_longitude" class="text-input" autocorrect="false" returnKeyType="next" android:height="30" ios:height="30" android:borderBottomWidth="1" android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10"></TextField>
                    <StackLayout class="hr-gray" height="1"></StackLayout>
                    <Label #errorEndLongitude class="error-red"></Label>
                </StackLayout>

            </GridLayout>

            <StackLayout width="100%" padding="10">
                <Label text="Açık Adres" class="input-title"></Label>
                <TextView #openAddress [(ngModel)]="trail.open_address" [text]="trail.open_address" class="textarea-input" autocorrect="false" autocapitalizationType="none" returnKeyType="next" height="100"></TextView>
                <StackLayout class="hr-gray"></StackLayout>
                <Label #errorOpenAddress class="error-red"></Label>
            </StackLayout>

            <StackLayout width="100%" padding="0 10 20 10">
                <Button text="KAYDET" (tap)="saveTrail()" class="btn btn-orange m-t-20" width="100%" height="55"></Button>
            </StackLayout>

        </WrapLayout>
    </ScrollView>

</DockLayout>