Dropdown {
    font-size: 14;
    border-bottom-color: transparent;
    border-bottom-width: 1;
    color: #303030;
}

.input-title {
    font-size: 14px;
}

.text-input {
    font-size: 14px;
    padding-left: 15px;
    color: #101010;
}

.textarea-input {
    font-size: 14px;
    padding-left: 5px;
    color: #101010;
}