<ActionBar title="Profil Düzenleme">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">

        <DockLayout stretchLastChild="false">

            <StackLayout class="profile-edit" dock="top" height="70%">
            
                <GridLayout columns="*,2*, *" marginBottom="0" paddingLeft="15">
                    <Image [src]="user.passphoto_url" col="0" marginTop="20" borderRadius="100%" width="90" height="90" class="edit-avatar"></Image>
                    <StackLayout col="1" paddingTop="50" paddingLeft="15">
                        <Label text="Profil Resmi" fontSize="14" fontWeight="200"></Label>
                    </StackLayout>
                </GridLayout>

            </StackLayout>
        
            <StackLayout width="100%">

                <StackLayout class="input-area" width="90%">
                    <Label text="T.C. Kimlik No" class="input-title"></Label>
                    <TextField #nationalID [(ngModel)]="user.national_id" [text]="user.national_id" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorNationalID class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="E-Posta Adresi" class="input-title"></Label>
                    <TextField #email [(ngModel)]="user.email" [text]="user.email" class="input-black" keyboardType="email" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorEmail class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Ad" class="input-title"></Label>
                    <TextField #firstname [(ngModel)]="user.firstname" [text]="user.firstname" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorFirstname class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Soyad" class="input-title"></Label>
                    <TextField #lastname [(ngModel)]="user.lastname" [text]="user.lastname" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorLastname class="error-red"></Label>
                </StackLayout>

                <WrapLayout>
                
                    <StackLayout class="input-area" width="42.5%"  marginLeft="5%">
                        <Label text="Cinsiyet" class="input-title"></Label>
                        <DropDown #gender [items]="genders" [selectedIndex]="selectedGender" (selectedIndexChanged)="genderChange($event)" android:height="40" marginTop="5" ios:height="16" class="input-black"></DropDown>
                        <StackLayout class="hr-gray"></StackLayout>
                        <Label #errorGender class="error-red"></Label>
                    </StackLayout>

                    <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                        <Label text="Doğum Tarihi" class="input-title"></Label>
                        <DatePickerField #birthdate [date]="user.birthdate" (dateChange)="birthDateChange($event)" dateFormat="dd/MM/yyyy" locale="tr_TR" hint="Doğum Tarihi" fontWeight="200" ></DatePickerField>
                        <StackLayout class="hr-gray"></StackLayout>
                        <Label #errorBirthDate class="error-red"></Label>
                    </StackLayout>

                </WrapLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Yaşadığın Ülke" class="input-title"></Label>
                    <DropDown #country [items]="countries" [selectedIndex]="selectedCountry" (selectedIndexChanged)="countryChange($event)" android:height="35" ios:height="16" class="input-black"></DropDown>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorCountryID class="error-red"></Label>
                </StackLayout>

                <WrapLayout width="100%">

                    <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                        <Label text="Yaşadığın Şehir" class="input-title"></Label>
                        <DropDown #city [items]="cities" [selectedIndex]="selectedCity" (selectedIndexChanged)="cityChange($event)" android:height="35" ios:height="16" class="input-black"></DropDown>
                        <StackLayout class="hr-gray"></StackLayout>
                        <Label #errorCityID class="error-red"></Label>
                    </StackLayout>

                    <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                        <Label text="İlçe" class="input-title"></Label>
                        <DropDown #district [items]="districts" [selectedIndex]="selectedDistrict" (selectedIndexChanged)="districtChange($event)" android:height="35" ios:height="16" class="input-black"></DropDown>
                        <StackLayout class="hr-gray"></StackLayout>
                        <Label #errorDistrictID class="error-red"></Label>
                    </StackLayout>

                </WrapLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Telefon" class="input-title"></Label>
                    <TextField #telephone [(ngModel)]="user.telephone" [text]="user.telephone" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorTelephone class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Çalıştığın Kurum" class="input-title"></Label>
                    <TextField #organisation [(ngModel)]="user.organisation" [text]="user.organisation" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorOrganisation class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Mesleğin" class="input-title"></Label>
                    <TextField #title [(ngModel)]="user.title" [text]="user.title" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorTitle class="error-red"></Label>
                </StackLayout>

                <WrapLayout>
                
                    <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                        <Label text="Boyun" class="input-title"></Label>
                        <TextField #heightCM [(ngModel)]="user.height_cm" [text]="user.height_cm" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                        <StackLayout class="hr-gray"></StackLayout>
                        <Label #errorHeightCM class="error-red"></Label>
                    </StackLayout>

                    <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                        <Label text="Kilon" class="input-title"></Label>
                        <TextField #weightKG [(ngModel)]="user.weight_kg" [text]="user.weight_kg" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                        <StackLayout class="hr-gray"></StackLayout>
                        <Label #errorWeightKG class="error-red"></Label>
                    </StackLayout>

                </WrapLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Yaptığım Sporlar" class="input-title"></Label>
                    <TextField #otherSportsText [(ngModel)]="user.other_sports_text" [text]="user.other_sports_text" class="input-black" keyboardType="url" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorOtherSportsText class="error-red"></Label>
                </StackLayout>

                <!-- <StackLayout class="input-area" width="90%">
                    <Label text="Favori Parkurlarım" class="input-title"></Label>
                    <TextField #favoriteTrailsText [(ngModel)]="user.favorite_trails_text" class="input-black" keyboardType="url" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorFavoriteTrailsText class="error-red"></Label>
                </StackLayout> -->

                <StackLayout class="input-area" width="90%">
                    <Label text="En Uzun Koşun" class="input-title"></Label>
                    <TextField #longestRunKM [(ngModel)]="user.longest_run_km" [text]="user.longest_run_km" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorLongestRunKM class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Web Sitem" class="input-title"></Label>
                    <TextField #websiteUrl [(ngModel)]="user.website_url" [text]="user.website_url" class="input-black" keyboardType="url" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorWebsiteUrl class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Sosyal Profillerim" class="intermediate-title"></Label>
                </StackLayout> 

                <StackLayout class="input-area" width="90%">
                    <Label text="Facebook" class="input-title"></Label>
                    <TextField #facebookUrl [(ngModel)]="user.facebook_url" [text]="user.facebook_url" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorFacebookUrl class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Twitter" class="input-title"></Label>
                    <TextField #twitterUrl [(ngModel)]="user.twitter_url" [text]="user.twitter_url" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorTwitterUrl class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Linkedin" class="input-title"></Label>
                    <TextField #linkedinUsername [(ngModel)]="user.linkedin_username" [text]="user.linkedin_username" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextField>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorLinkedinUsername class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <Label text="Hakkımda" class="input-title"></Label>
                    <TextView #userInfoText [(ngModel)]="user.user_info_text" [text]="user.user_info_text" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next"></TextView>
                    <StackLayout class="hr-gray"></StackLayout>
                    <Label #errorUserInfoText class="error-red"></Label>
                </StackLayout>

                <StackLayout class="input-area" width="90%" marginTop="10">
                    <GridLayout columns="30, *" width="100%" horizontalAlignment="left" verticalAlignment="top">
                        <CheckBox col="0" #informRookies [(ngModel)]="user.inform_rookies" ngDefaultControl (checkedChange)="informRookiesChange(informRookies)" [checked]="user.inform_rookies" class="checkbox" boxType="square"></CheckBox>
                        <Label col="1" text="Çaylaklar için bilgi istiyorum." (tap)="informRookies.toggle()" checked="false" color="black" class="checkbox-title" textWrap="true" android:paddingTop="5"></Label>
                    </GridLayout>
                </StackLayout>
                
                <StackLayout class="input-area" width="90%">
                    <GridLayout columns="30, *" width="100%" horizontalAlignment="left" verticalAlignment="top">
                        <CheckBox col="0" #informActivity [(ngModel)]="user.inform_activity" ngDefaultControl (checkedChange)="informActivityChange(informActivity)" [checked]="user.inform_activity" class="checkbox" boxType="square"></CheckBox>
                        <Label col="1" text="Adım Adım Koşu Aktivitesi için bilgi istiyorum." (tap)="informActivity.toggle()" checked="false" color="black" class="checkbox-title" textWrap="true" android:paddingTop="5"></Label>
                    </GridLayout>
                </StackLayout>  
                
                <StackLayout class="input-area" width="90%">
                    <GridLayout columns="30, *" width="100%" horizontalAlignment="left" verticalAlignment="top">
                        <CheckBox col="0" #informCorporateActivity [(ngModel)]="user.inform_corporate_activity" ngDefaultControl (checkedChange)="informCorporateActivityChange(informCorporateActivity)" [checked]="user.inform_corporate_activity" class="checkbox" boxType="square"></CheckBox>
                        <Label col="1" text="Kurumsal Koşu Takımı Hakkında bilgi istiyorum." (tap)="informCorporateActivity.toggle()" checked="false" color="black" class="checkbox-title" textWrap="true" android:paddingTop="5"></Label>
                    </GridLayout>
                </StackLayout>

                <StackLayout class="input-area" width="90%">
                    <GridLayout columns="30, *" width="100%" horizontalAlignment="left" verticalAlignment="top">
                        <CheckBox col="0" #beVolunteer [(ngModel)]="user.be_volunteer" ngDefaultControl (checkedChange)="beVolunteerChange(beVolunteer)" [checked]="user.be_volunteer" class="checkbox" boxType="square"></CheckBox>
                        <Label col="1" text="Gönüllü Olmak İstiyorum." (tap)="beVolunteer.toggle()" checked="false" color="black" class="checkbox-title" textWrap="true" android:paddingTop="5"></Label>
                    </GridLayout>
                </StackLayout>

                <Button text="KAYDET" (tap)="updateUser($event)" class="btn btn-black m-t-20" height="55"></Button>

            </StackLayout>

        </DockLayout>

    </ScrollView>

</DockLayout>