<ActionBar title="GİRİŞ YAP">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<FlexboxLayout class="page">

    <ScrollView>

        <StackLayout class="form" width="100%" marginTop="25%">

            <StackLayout class="input-field" marginBottom="25" width="90%">
                <TextField [(ngModel)]="user.email" class="input" hint="E-Posta Adresi" keyboardType="email" autocorrect="false" autocapitalizationType="none" returnKeyType="next" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field" marginBottom="25" width="90%">
                <TextField #password [(ngModel)]="user.password" class="input" hint="Şifre" secure="true" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout marginBottom="25" width="90%">
                <ActivityIndicator color="white" busy="true" *ngIf="loading"></ActivityIndicator>
            </StackLayout>
            
            <Button text="GİRİŞ YAP" (tap)="login($event)" class="btn btn-black m-t-20" height="55"></Button>

            <Label text="Şifremi Unuttum?" color="white" textAlignment="right" padding="10%"></Label>

            <Label text="Adım Adım Koşu ya da İyilik Peşinde Koş üyeliğin yok mu?" color="white" marginTop="10%" textWrap="true" padding="10%" textAlignment="center"></Label>

            <Button [nsRouterLink]="['/register']" text="ŞİMDİ KATIL" class="btn" color="white" fontSize="20" textDecoration="underline"></Button>

        </StackLayout>

    </ScrollView>

</FlexboxLayout>