<ActionBar title="ÜYE OL">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<FlexboxLayout class="page">

    <ScrollView>

        <StackLayout class="form" width="100%" marginTop="5%">

            <StackLayout class="input-field" marginBottom="25" width="90%">
                <TextField #email [(ngModel)]="user.email" class="input" hint="E-Posta Adresi" keyboardType="email" autocorrect="false" autocapitalizationType="none" returnKeyType="next" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
                <Label #errorEmail class="label-error"></Label>
            </StackLayout>

            <StackLayout class="input-field" marginBottom="25" width="90%">
                <TextField #firstname [(ngModel)]="user.firstname" class="input" hint="İsim" autocorrect="false" autocapitalizationType="none" returnKeyType="next" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
                <Label #errorFirstname class="label-error"></Label>
            </StackLayout>

            <StackLayout class="input-field" marginBottom="25" width="90%">
                <TextField #lastname [(ngModel)]="user.lastname" class="input" hint="Soyisim" autocorrect="false" autocapitalizationType="none" returnKeyType="next" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
                <Label #errorLastname class="label-error"></Label>
            </StackLayout>

            <StackLayout class="input-field" marginBottom="25" width="90%">
                <TextField #password [(ngModel)]="user.password" class="input" hint="Şifre" secure="true" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
                <Label #errorPassword class="label-error"></Label>
            </StackLayout>
            
            <StackLayout class="input-field" marginBottom="25" width="90%">
                
                <TextField #passwordAgain [(ngModel)]="user.password_again" class="input" hint="Şifre Tekrar" secure="true" fontSize="18"></TextField>
                <StackLayout class="hr-light"></StackLayout>
                <Label #errorPasswordAgain class="label-error"></Label>

                <StackLayout paddingTop="15">
                    <GridLayout columns="20, *" width="100%" horizontalAlignment="left" verticalAlignment="top">
                        <CheckBox col="0" #isContract [(ngModel)]="user.is_contract" class="checkbox" boxType="square" fillColor="white"></CheckBox>
                        <Label col="1" text="Kullanıcı ve gizlilik sözleşmesini okudum, onaylıyorum" (tap)="isContract.toggle()" checked="false" color="white" textWrap="true"></Label>
                    </GridLayout>
                </StackLayout>
                <Label #errorIsContract class="label-error"></Label>

            </StackLayout>
            
            <StackLayout marginBottom="25" width="90%">
                <ActivityIndicator color="white" busy="true" *ngIf="loading"></ActivityIndicator>
            </StackLayout>

            <Button text="ÜYE OL" (tap)="register($event)" class="btn btn-black m-t-20" height="55"></Button>

            <Label text="Hesabın var mı?" color="white" marginTop="10%" textWrap="true" padding="10%" textAlignment="center"></Label>

            <Button [nsRouterLink]="['/login']" text="GİRİŞ YAP" class="btn" color="white" fontSize="20" textDecoration="underline"></Button>

        </StackLayout>

    </ScrollView>
    

</FlexboxLayout>