/* Add mobile styles for the component here.  */
#mark-view {
    background-color: white;
}

#delete-view {
    background-color: red;

}

.hr-light {
    margin-top: 20px;
    margin-bottom: 20px;
}

.notifyIcon1 {
    background-image: url("~/icons/runner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.notifyIcon2 {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    background-image: url("~/icons/runners.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.nContainer {
    padding: 20px;
}