<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="~/icons/bildirimler@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="BİLDİRİMLER" fontWeight="400" letterSpacing=".1"></Label>
    </StackLayout>
    <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true">

    <ScrollView dock="top" height="100%" *ngIf="loading">
        <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
    </ScrollView>

    <ScrollView dock="top" height="100%" *ngIf="!loading">
        <GridLayout tkExampleTitle tkToggleNavButton height="100%">
            <RadListView #listView [items]="notificationItems" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
                <ng-template tkListItemTemplate let-item="item">

                    <StackLayout [class]="'item item' + item.id" [backgroundColor]="item.opened == 1 ? 'white' : '#fbedec'" orientation="vertical" borderBottomWidth="1" borderBottomColor="#e7e7e7">
                        <GridLayout rows="*,*" columns="80, *" (tap)="notificationDetail(item.function_name, item.id, item.race_id, item.team_id, item.sender_user_id, item.title, item.opened)" padding="10">
                            <StackLayout col="0" height="100%" margin="10">
                                <Image [src]="'~/icons/' + item.icon" width="40" height="40"></Image>
                            </StackLayout>

                            <StackLayout col="1" verticalAlignment="center" paddingBottom="0">
                                <Label [text]="item.title" textWrap="true" fontWeight="400" fontSize="16"></Label>
                                <Label [text]="differenceFind(item.created_at) + ' önce'" fontWeight="300" fontSize="12"></Label>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>

                </ng-template>
            </RadListView>
        </GridLayout>
    </ScrollView>

</DockLayout>